#### 탐색적 데이터 분석 과정
- EDA : Exploratory Data Analysis = 탐색적 데이터 분석
- 데이터 분석을 하는데 있어서 다양한 각도에서 데이터를 이해하기 위항 일종의 개념. 가이드라인
  - 1) 데이터의 출처와 주제에 대한 이해
    2) 데이터의 크기 확인
    3) 데이터 구성 요소(feature)의 속성 확인

In [3]:
import pandas as pd
doc = pd.read_csv("COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv", encoding="utf-8-sig")

In [4]:
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,4,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,46,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,7,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,192,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [5]:
doc.head(n=10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,4,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,46,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,7,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,192,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
5,29001.0,Adair,Missouri,US,2020-04-01 21:58:49,40.190586,-92.600782,3,0,0,3,"Adair, Missouri, US"
6,40001.0,Adair,Oklahoma,US,2020-04-01 21:58:49,35.884942,-94.658593,8,0,0,8,"Adair, Oklahoma, US"
7,8001.0,Adams,Colorado,US,2020-04-01 21:58:49,39.874321,-104.336258,623,47,0,179,"Adams, Colorado, US"
8,17001.0,Adams,Illinois,US,2020-04-01 21:58:49,39.988156,-91.187868,2,0,0,2,"Adams, Illinois, US"
9,18001.0,Adams,Indiana,US,2020-04-01 21:58:49,40.745765,-84.936714,1,0,0,1,"Adams, Indiana, US"

In [7]:
doc.shape

(2522, 12)

In [8]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522 entries, 0 to 2521
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2175 non-null   float64
 1   Admin2          2221 non-null   object
 2   Province_State  2338 non-null   object
 3   Country_Region  2522 non-null   object
 4   Last_Update     2522 non-null   object
 5   Lat             2518 non-null   float64
 6   Long_           2518 non-null   float64
 7   Confirmed       2522 non-null   int64
 8   Deaths          2522 non-null   int64
 9   Recovered       2522 non-null   int64
 10  Active          2522 non-null   int64
 11  Combined_Key    2522 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 236.6+ KB

In [9]:
doc.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key'],
      dtype='object')

In [10]:
doc.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,2175.000000,2518.000000,2518.000000,2522.000000,2522.000000,2522.000000,2522.000000
mean,30114.640920,35.289228,-75.615792,372.307296,20.477002,76.656622,278.524187
std,15643.080021,12.149460,47.809329,4174.952692,363.948042,1494.960160,2945.050096
min,1001.000000,-71.949900,-175.198200,0.000000,0.000000,0.000000,0.000000
25%,18052.000000,33.086811,-94.749118,2.000000,0.000000,0.000000,2.000000
50%,29031.000000,37.526763,-86.065254,7.000000,0.000000,0.000000,6.000000
75%,45024.000000,41.406878,-79.042655,34.000000,1.000000,0.000000,31.000000
max,99999.000000,71.706900,178.065000,110574.000000,13155.000000,63326.000000,80572.000000

In [11]:
doc.corr()

ValueError: could not convert string to float: 'Abbeville'

In [12]:
doc.corr(numeric_only=True)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
FIPS,1.000000,0.160717,0.171490,-0.000504,0.076467,NaN,0.002718
Lat,0.160717,1.000000,-0.476426,0.029389,0.026309,-0.002781,0.035631
Long_,0.171490,-0.476426,1.000000,0.141126,0.096924,0.141932,0.119737
Confirmed,-0.000504,0.029389,0.141126,1.000000,0.837153,0.727305,0.942484
Deaths,0.076467,0.026309,0.096924,0.837153,1.000000,0.546858,0.796549
Recovered,NaN,-0.002781,0.141932,0.727305,0.546858,1.000000,0.462484
Active,0.002718,0.035631,0.119737,0.942484,0.796549,0.462484,1.000000